/* Fonts */

@import url(../fonts/fonts.css);

/* Base */

@import url(../css/base/reset.css);
@import url(../css/base/normalize.css);

/* Utils */

@import url(../css/utils/variables.css);
@import url(../css/utils/common.css);

:root {
  --blue: #5e81a3;
  --black: #232323;
  --pink: #ff7fae;
  --white: #f7fcff;
  --light-blue: #dceaf6;
}

html,
body {
  font-size: calc(16vw / 4.02);
  width: 100%;
  margin: 0 auto;
  background: var(--white, #f7fcff);
}

@media screen and (min-width: 768px) {
  html,
  body {
    font-size: calc(16vw / 19.2);
    width: 100%;
    margin: 0 auto;
  }
}

.container {
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 25.125rem;
  padding: 0 1.31rem;
}

@media screen and (min-width: 768px) {
  .container {
    position: relative;
    margin: 0 auto;
    width: 100%;
    max-width: 120rem;
    padding: 0 1.94rem;
  }
}

/* hero */

.hero {
  padding-top: 0.75rem;
  padding-bottom: 3.75rem;
}

.hero-mobile-flower {
  position: absolute;
  right: 0;
  top: 0;
  width: 8.37rem;
}

.hero .container {
  padding: 0;
}

.hero .hero-wrapper {
  margin-bottom: 2.5rem;
}

.hero .main-box {
  padding: 0 1.31rem;
}

.hero .about-course-desc {
  color: var(--black, #232323);
  font-family: Gilroy;
  font-size: 0.8125em;
  font-style: normal;
  font-weight: 500;
  line-height: 110%;

  margin-bottom: 4rem;
  max-width: 18rem;
}

.hero .about-course-desc span {
  color: var(--blue, #5e81a3);
  font-weight: 700;
}

.hero .tag {
  display: inline-block;
  padding: 0.5rem 1rem 0.25rem;
  border-radius: 6.25rem;
  background: var(--pink, #ff7fae);

  color: var(--white, #f7fcff);
  font-family: Gilroy;
  font-size: 1em;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.04rem;
  margin-bottom: 0.25rem;
}

.hero .title {
  color: var(--black, #232323);
  font-family: 'Cormorant Garamond';
  font-size: 3.1875em;
  font-style: normal;
  font-weight: 500;
  line-height: 80%; /* 2.55rem */
  letter-spacing: -0.03188em;

  margin-bottom: 0.75rem;
}

.hero .text {
  color: var(--black, #232323);
  font-family: Gilroy;
  font-size: 1em;
  font-style: normal;
  font-weight: 500;
  line-height: 110%; /* 1.1rem */

  max-width: 19.25rem;
  margin-bottom: 4rem;
}

.hero .ready-system {
  color: var(--black, #232323);
  font-family: Gilroy;
  font-size: 0.8125em;
  font-style: normal;
  font-weight: 500;
  line-height: 110%;

  max-width: 20rem;
  margin-bottom: 0.75em;
}

.hero .ready-system span {
  color: var(--blue, #5e81a3);
  font-weight: 700;
}

.hero .img-list-box {
  display: flex;
  align-items: end;

  width: 100%;
  height: 28.75rem;

  background-image: url(../img/hero/bg-1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  padding: 0 1.31rem 2.5rem;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero .img-list-box {
    background-image: url(../img/hero/bg-2x.jpg);
  }
}

.hero .list {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem;
}

.hero .list-item {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0 1rem;

  width: 11.125rem;

  border-radius: 0.625rem;
  background: #f7fcff;
  height: 3.75rem;
}

.hero .list-item:last-child {
  width: 100%;
}

.hero .item-text {
  color: var(--black, #232323);
  text-align: center;
  font-family: Gilroy;
  font-size: 0.8125em;
  font-style: normal;
  font-weight: 500;
  line-height: 110%; /* 0.89375rem */
  letter-spacing: -0.02438em;
}

.hero .system-wrapper {
  padding: 0 1.31rem;
}

.hero .system-list {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem;
}

.hero .system-item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5rem;
  border-radius: 0.625em;
  background: var(--light-blue, #dceaf6);
  width: 11.125rem;
  padding: 0 0.62em;
}

.hero .system-item:first-child {
  width: 100%;
  padding: 0 1rem;
}

.hero .system-text {
  color: var(--black, #232323);
  text-align: center;
  font-family: Gilroy;
  font-size: 0.8125em;
  font-style: normal;
  font-weight: 500;
  line-height: 110%; /* 0.89375rem */
  letter-spacing: -0.02438rem;
}

.hero-desktop-flower {
  display: none;
}

@media screen and (min-width: 768px) {
  .hero {
    padding-top: 0;
    padding-bottom: 3.75rem;
  }

  .hero .hero-wrapper {
    display: flex;

    margin-bottom: 2.5rem;
  }

  .hero .main-box {
    padding: 1.87rem;
    width: 60rem;
  }

  .hero .about-course-desc {
    font-size: 1.25em;

    margin-bottom: 13.75rem;
    max-width: 49rem;
  }

  .hero .tag {
    padding: 0.75rem 1.875rem 0.5rem 1.875rem;
    font-size: 2em;
    letter-spacing: -0.08rem;
    margin-bottom: 1.75rem;
  }

  .hero .title {
    font-size: 6em;
    letter-spacing: -0.06em;

    margin-bottom: 3.75rem;
  }

  .hero .text {
    font-size: 1.5625em;
    max-width: 40rem;
    margin-bottom: 21.25rem;
  }

  .hero .ready-system {
    font-size: 1.25em;

    max-width: 46.875rem;
    margin-bottom: 0em;
  }

  /* second-box */

  .hero .img-list-box {
    max-width: 60rem;
    height: 67.5rem;

    background-image: url(../img/hero/bg-1x-desktop.jpg);

    padding: 0 1.87rem 2.5rem;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: url(../img/hero-bg-2x-desktop.jpg);
    }
  }

  .hero .list {
    gap: 0.63rem;
  }

  .hero .list-item {
    display: flex;
    align-items: center;

    padding: 0 2.5rem;

    width: 18.3125rem;
    height: 7.5rem;

    border-radius: 0.8375rem;
  }

  .hero .list-item:nth-child(4) {
    width: 27.8125rem;
  }

  .hero .list-item:nth-child(5) {
    width: 27.8125rem;
  }

  .hero .item-text {
    font-size: 1.25em;
    letter-spacing: -0.0375em;
  }

  .hero-mobile-flower {
    display: none;
  }

  .hero-desktop-flower {
    display: block;
    position: absolute;
    left: 44%;
    top: 33rem;
    transform: translate(-50%);

    width: 31.5rem;
    height: 31.5rem;
  }

  .hero .system-wrapper {
    padding: 0 1.88rem;
  }

  .hero .system-list {
    display: flex;
    flex-wrap: wrap;
    gap: 0.62rem;
  }

  .hero .system-item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10rem;
    border-radius: 0.625em;
    background: var(--light-blue, #dceaf6);
    width: 22.75rem;
    padding: 0 1.88em;
  }

  .hero .system-item:first-child {
    width: 22.75rem;
    padding: 0 1rem;
  }

  .hero .system-text {
    font-size: 1.25em;
    letter-spacing: -0.0375rem;
  }
}

/* about-author */

.about-author {
  padding: 3.75rem 0;
}

.about-author .container {
}

.about-author .author-flex {
}

.about-author .info-box {
}

.about-author .title-wrapper {
  position: relative;

  margin-bottom: 0.94rem;
}

.about-author .name {
  color: var(--black, #232323);
  font-family: 'Cormorant Garamond';
  font-size: 3.5em;
  font-style: normal;
  font-weight: 500;
  line-height: 80%; /* 2.8rem */
  letter-spacing: -0.035em;
  text-transform: uppercase;
}

.about-author .name span {
  color: var(--pink, #ff7fae);
}

.about-author .title {
  position: absolute;
  top: 0;
  right: 0;

  color: var(--black, #232323);
  font-family: Gilroy;
  font-size: 1em;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: -0.04em;
  text-transform: lowercase;
}

.about-author .desc {
  color: var(--black, #232323);
  font-family: Gilroy;
  font-size: 1em;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 1.2rem */
  letter-spacing: -0.02em;

  margin-bottom: 1.75rem;
}

.about-author .desc .weight {
  font-weight: 700;
}

.about-author .desc .color {
  color: var(--blue, #5e81a3);
  font-weight: 700;
}

.about-author .author-img-container {
  display: flex;
  align-items: end;

  height: 28.3125rem;
  padding: 1.25rem;

  background-image: url(../img/author/author-img-1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  border-radius: 0.9375rem;
  margin-bottom: 1.25rem;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .about-author .author-img-container {
    background-image: url(../img/author/author-img-2x.jpg);
  }
}

.about-author .img-text {
  color: var(--white, #f7fcff);
  font-family: Gilroy;
  font-size: 1em;
  font-style: italic;
  font-weight: 500;
  line-height: 120%; /* 1.2rem */
  letter-spacing: -0.02em;
}

.about-author .achiev-list {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;

  margin-bottom: 1.75rem;
}

.about-author .achiev-item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.37rem 2.5rem;
  height: 5rem;
  border-radius: 0.625rem;
  background: var(--light-pink, #f9ebf4);
  backdrop-filter: blur(10px);
}

.about-author .achiev-text {
  color: var(--black, #232323);
  text-align: center;
  font-family: Gilroy;
  font-size: 1em;
  font-style: normal;
  font-weight: 500;
  line-height: 110%;
  letter-spacing: -0.03em;
}

.about-author .achiev-text span {
  font-weight: 700;
}

.about-author .way-list {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;

  margin-bottom: 3rem;
}

.about-author .way-item {
  color: var(--black, #232323);
  font-family: Gilroy;
  font-size: 1em;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 1.2rem */
  letter-spacing: -0.02em;
}

.about-author .way-item span {
  font-weight: 700;
}

.about-author .now-subtitle {
  color: var(--pink, #ff7fae);
  font-family: Gilroy;
  font-size: 1.125em;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 21.6px */

  margin-bottom: 0.63em;
}

.about-author .our-new-ways {
  color: var(--black, #232323);
  font-family: Gilroy;
  font-size: 1em;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: -0.02em;
}

.about-author .our-new-ways .weight {
  font-weight: 700;
}

.about-author .our-new-ways .color {
  color: var(--blue, #5e81a3);
  font-weight: 700;
}

.about-author .author-img-container-desktop {
  display: none;
}

@media screen and (min-width: 768px) {
  .about-author .author-flex {
    display: flex;
    justify-content: space-between;
  }

  .about-author .author-img-container-desktop {
    display: flex;
    align-items: end;

    width: 46.0625rem;
    height: 58.0625rem;
    padding: 2.5rem;

    background-image: url(../img/author/author-img-1x-desktop.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    border-radius: 1.875rem;
    margin-bottom: 0;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .about-author .author-img-container-desktop {
      background-image: url(../img/author/author-img-2x-desktop.jpg);
    }
  }

  .about-author .img-text {
    font-size: 1.5625em;
    letter-spacing: -0.03125em;
  }

  .about-author .info-box {
    max-width: 67.625rem;
  }

  .about-author .author-img-container {
    display: none;
  }

  /* info-box */

  .about-author .name {
    font-size: 6em;
    letter-spacing: -0.06em;
  }

  .about-author .title {
    position: absolute;
    top: 0;
    right: 0;

    font-size: 2em;

    letter-spacing: -0.08em;
  }

  .about-author .desc {
    font-size: 1.5em;

    letter-spacing: -0.03em;

    margin-bottom: 4rem;
  }

  .about-author .achiev-list {
    display: flex;
    flex-direction: row;
    gap: 0.63rem;

    margin-bottom: 1.87rem;
  }

  .about-author .achiev-item {
    display: flex;
    align-items: center;

    padding: 1.37rem 2.5rem;
    height: 6.25rem;
    border-radius: 0.9375rem;
    width: 22.125rem;
  }

  .about-author .achiev-text {
    font-size: 1.375em;

    letter-spacing: -0.04125em;
  }

  .about-author .way-list {
    display: flex;
    flex-direction: column;
    gap: 0.625rem;

    margin-bottom: 4.09rem;

    max-width: 63.1875rem;
  }

  .about-author .way-item {
    font-size: 1.5em;
    letter-spacing: -0.03em;
  }

  .about-author .now-subtitle {
    font-size: 1.75em;
  }

  .about-author .our-new-ways {
    color: var(--black, #232323);
    font-family: Gilroy;
    font-size: 1.5em;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: -0.03em;
  }
}

/* program */

.program {
  padding: 3.75rem 0;
}

.program .container {
}

.program .title {
  color: var(--black, #232323);
  font-family: 'Cormorant Garamond';
  font-size: 3.5em;
  font-style: normal;
  font-weight: 500;
  line-height: 80%; /* 2.8rem */
  letter-spacing: -0.035em;
  text-transform: uppercase;

  margin-bottom: 2rem;
}

.program .program-wrapper {
}

.program .program-list {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.program .list-item {
  cursor: pointer;
}

.program .item-title-box {
  display: flex;
  align-items: center;
  justify-content: space-between;

  border-radius: 0.625rem;
  background: var(--blue, #5e81a3);
  padding: 1.25rem;
}

.program .item-number-box {
}

.program .item-number {
  display: flex;
  align-items: center;
  justify-content: center;

  color: #f7fcff;
  font-family: Gilroy;
  font-size: 1.125em;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.045em;

  display: inline-block;
  padding: 0.5rem 1.25rem 0.4rem;
  border-radius: 6.25rem;
  background: var(--pink, #ff7fae);
  margin-bottom: 0.75rem;
}

.program .item-lesson-name {
  max-width: 17.9rem;

  color: var(--white, #f7fcff);
  font-family: Gilroy;
  font-size: 1em;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: -0.02em;
}

.program .item-lesson-name span {
  font-weight: 700;
}

.program .item-show-box {
  padding: 0 1.25rem;
}

.program .item-show-title {
  color: var(--black, #232323);
  font-family: Gilroy;
  font-size: 1.125em;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 1.575rem */

  margin-bottom: 0.62rem;
}

.program .item-show-title.pttop {
  padding-top: 1.25rem;
}

.program .lessons-list {
  list-style: decimal;
  padding-left: 1rem;

  margin-bottom: 1.81rem;
}

.program .lesson-item {
  color: var(--black, #232323);
  font-family: Gilroy;
  font-size: 1em;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 1.2rem */
}

.program .result-text {
  color: var(--black, #232323);
  font-family: Gilroy;
  font-size: 1em;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 1.2rem */

  padding-bottom: 1.875rem;
}

.item-show-box {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.4s ease;
}

.program-icon {
  display: inline-block;
  transition: transform 0.3s ease;
  width: 1.125rem;
  height: 1.125rem;
}

.program-icon.open {
  transform: rotate(45deg); /* плюсик превращается в крестик */
}

.program-list.program-desktop-first {
  display: none;
}

.program-list.program-desktop-second {
  display: none;
}

@media screen and (min-width: 768px) {
  .program {
    padding: 7.5rem 0;
  }

  .program .title {
    text-align: center;
    font-size: 6em;
    letter-spacing: -0.06em;
    margin-bottom: 3.75rem;
  }

  .program-wrapper {
    display: flex;
    justify-content: center;
    gap: 1.87rem;
  }

  .program .program-list {
    display: flex;
    flex-direction: column;
    gap: 1.88rem;

    max-width: 52.5rem;

    display: none;
  }

  .program-list.program-desktop-first {
    display: flex;
  }

  .program-list.program-desktop-second {
    display: flex;
  }

  .program .list-item {
  }

  .program .item-title-box {
    border-radius: 1.25rem;
    padding: 2.5rem;
  }

  .program .item-number {
    font-size: 1.5em;

    letter-spacing: -0.06em;

    display: inline-block;
    padding: 0.75rem 1.88rem;
    border-radius: 6.25rem;
    background: var(--pink, #ff7fae);
    margin-bottom: 0.94rem;
  }

  .program .item-lesson-name {
    max-width: 42.5rem;
    font-size: 1.5em;
    letter-spacing: -0.03em;
  }

  .program .item-show-box {
    padding: 0 2.5rem;
  }

  .program .item-show-title {
    font-size: 1.5em;

    margin-bottom: 0.9rem;
  }

  .program .item-show-title.pttop {
    padding-top: 2.5rem;
  }

  .program .lessons-list {
    list-style: decimal;
    padding-left: 1rem;

    margin-bottom: 1.81rem;
  }

  .program .lesson-item {
    color: var(--black, #232323);
    font-family: Gilroy;
    font-size: 1.2em;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 1.2rem */
  }

  .program .result-text {
    color: var(--black, #232323);
    font-family: Gilroy;
    font-size: 1.2em;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 1.2rem */

    padding-bottom: 1.875rem;
  }

  .program-icon {
    display: inline-block;
    transition: transform 0.3s ease;
    width: 1.75rem;
    height: 1.75rem;
  }
}

/* practice */

.practice {
  padding: 3.75rem 0 7.5rem;
  overflow: hidden;
}

.practice .container {
  position: relative;
}

.practice-flag {
  position: absolute;
  right: -0.3rem;
  top: 1.4rem;
  width: 4.4rem;
  height: 4rem;

  transform: rotateZ(-8deg);
}

.practice .title {
  color: var(--black, #232323);
  font-family: 'Cormorant Garamond';
  font-size: 3.5em;
  font-style: normal;
  font-weight: 500;
  line-height: 80%; /* 44.8px */
  letter-spacing: -0.035rem;
  text-transform: uppercase;

  width: 20.125rem;
  margin-bottom: 1.25rem;
}

.practice .desc {
  color: var(--black, #232323);
  font-family: Gilroy;
  font-size: 1em;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: -0.02em;

  margin-bottom: 2.5rem;
}

.practice .desc span {
  font-weight: 700;
}

.practice .practice-swiper-wrap {
  position: relative;
  padding-bottom: 3.5rem;
}

.practice .swiper {
  overflow: visible;
  cursor: pointer;
}

.practice .swiper-practice {
}

.practice .swiper-wrapper {
}

.practice .swiper-slide {
  width: 12.5rem;
  height: 18.75rem;
}

.practice .practice-img {
  width: 100%;
  height: 100%;
  border-radius: 0.625rem;
}
.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  width: 2.5rem;
  height: 2.375rem;

  background-image: url(../img/swiper-arrow.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  cursor: pointer;

  z-index: 999;
}

.swiper-button-next.next {
  transform: rotateY(180deg);
}

.swiper-button-next {
  bottom: 0;
  right: 0;
}

.swiper-button-prev {
  bottom: 0;
  right: 6.25rem;
}

.swiper-navigation-icon {
  display: none;
}

.desc.is-desktop {
  display: none;
}

@media screen and (min-width: 768px) {
  .practice {
    padding: 7.5rem 0 12.5rem;
  }

  .practice-flag {
    position: absolute;
    right: 1.88rem;
    top: -0.5rem;
    width: 6.5rem;
    height: 6rem;

    transform: rotateZ(0deg);
  }

  .practice .title {
    font-size: 6em;

    letter-spacing: -0.06rem;

    width: 55.5rem;
    margin-bottom: 3.75rem;
  }

  .practice .desc {
    display: none;
    font-size: 1.5em;
    letter-spacing: -0.03em;
    margin-bottom: 0rem;
  }

  .practice .desc.is-desktop {
    display: block;
    width: 35.5rem;
    margin-top: -4rem;
  }

  .practice .practice-swiper-wrap {
    position: relative;
    padding-bottom: 7.5rem;
  }

  .practice .swiper-slide {
    width: 28.125rem;
    height: 42.1875rem;
  }

  .practice .practice-img {
    border-radius: 1.25rem;
  }

  .swiper-button-prev,
  .swiper-button-next {
    position: absolute;
    width: 4.625rem;
    height: 4.375rem;

    background-image: url(../img/swiper-arrow.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    cursor: pointer;

    z-index: 999;
  }

  .swiper-button-next {
    bottom: 0;
    right: 0;
  }

  .swiper-button-prev {
    bottom: 0;
    right: 15.5rem;
  }
}

/* tariffs */

.tariffs {
  padding: 6.25rem 0;
  background: var(--light-blue, #dceaf6);
}

.tariffs .container {
  position: relative;
}

.tariff-flower {
  position: absolute;
  right: 0;
  top: -10rem;

  width: 10.0625rem;
}

.tariffs .title {
  color: var(--black, #232323);
  font-family: 'Cormorant Garamond';
  font-size: 3.5em;
  font-style: normal;
  font-weight: 500;
  line-height: 80%; /* 2.8rem */
  letter-spacing: -0.035em;
  text-transform: uppercase;

  margin-bottom: 3.75rem;
}

.tariffs-list {
  display: flex;
  flex-direction: column;
  gap: 5rem;

  position: relative;
  z-index: 5;

  margin-bottom: 2.5rem;
}

.tariffs .tariffs-item {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.tariffs .tariff-title-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;

  height: 16.25rem;
  padding: 1.75rem 1.25rem;
  border-radius: 0.9375rem;
  background: var(--light-pink, #f9ebf4);
}

.tariffs .first-box {
}

.tariffs .tariff-title {
  color: var(--black, #232323);
  text-align: center;
  font-family: 'Cormorant Garamond';
  font-size: 3.125em;
  font-style: normal;
  font-weight: 500;
  line-height: 80%; /* 2.5rem */
  letter-spacing: -0.03125em;
  text-transform: uppercase;

  margin-bottom: 0.63rem;
}

.tariffs .tag-wrapper {
  text-align: center;
}

.tariffs .tariff-tag {
  display: inline-block;
  color: var(--white, #f7fcff);
  font-family: Gilroy;
  font-size: 0.875em;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 1.05rem */
  letter-spacing: -0.0175em;

  padding: 0.8125rem 1.25rem 0.625rem 1.25rem;
  border-radius: 4.375rem;
  background: var(--pink, #ff7fae);
}

.tariffs .second-box {
}

.tariffs .tariff-group {
  color: var(--black, #232323);
  text-align: center;
  font-family: Gilroy;
  font-size: 1em;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 1.2rem */
  letter-spacing: -0.02em;
}

.tariffs .modules-count {
  color: var(--black, #232323);
  text-align: center;
  font-family: Gilroy;
  font-size: 1em;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 1.2rem */
  letter-spacing: -0.02em;
}

/* tariff bonus box */

.tariffs .bonus-box {
  padding: 1.75rem 1.5rem;
  border-radius: 0.9375rem;
  background: var(--white, #f7fcff);
}

.tariffs .bonus-list {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.tariffs .bonus-item {
  color: var(--black, #232323);
  font-family: Gilroy;
  font-size: 0.9375em;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: -0.01875em;
}

.tariffs .bonus-item span {
  font-weight: 700;
}

.tariffs .bonus-item.close {
  text-decoration: line-through;
  opacity: 0.4;
}

.tariffs .gift-box {
  margin-top: 0.81rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tariffs .gift-img {
  width: 3.125rem;
  height: 3.5rem;
}

.tariffs .gift-text {
  color: var(--blue, #5e81a3);
  font-family: Gilroy;
  font-size: 0.9375em;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 1.125rem */
  letter-spacing: -0.01875em;

  width: 15.75rem;
}

/* exclusive tariff */

.exclusive .tariff-title-box {
  position: relative;
  height: 22.5rem;
  background: var(--pink, #ff7fae);
}

.exclusive .first-box {
}

.exclusive .tariff-title {
  color: var(--white, #f7fcff);
}

.exclusive .tag-wrapper {
  margin-bottom: 1.25rem;
}

.exclusive .tariff-tag {
  color: var(--black, #232323);
  background: var(--white, #f7fcff);
}

.exclusive .tariff-excl-text {
  color: var(--white, #f7fcff);
  text-align: center;
  font-family: Gilroy;
  font-size: 0.875em;
  font-style: normal;
  font-weight: 500;
  line-height: 110%;
  letter-spacing: -0.0175em;
}

.exclusive .tariff-excl-text span {
  font-weight: 700;
}

.exclusive .tariff-excl-text.mb {
  margin-bottom: 0.63rem;
}

.exclusive .second-box {
}

.exclusive .tariff-group {
}

.exclusive .modules-count {
  color: var(--black, #232323);
  text-align: center;
  font-family: Gilroy;
  font-size: 1em;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 1.2rem */
  letter-spacing: -0.02rem;

  margin-bottom: 0.62rem;
}

.exclusive .tariff-individual-text {
  color: var(--white, #f7fcff);
  text-align: center;
  font-family: Gilroy;
  font-size: 0.875em;
  font-style: normal;
  font-weight: 500;
  line-height: 110%; /* 0.9625rem */
  letter-spacing: -0.035em;
  text-transform: lowercase;
}

.exclusive .world-wide-tag {
  position: absolute;
  left: 50%;
  top: -1rem;
  width: 11.6rem;
  transform: translate(-50%);

  display: inline-block;

  color: var(--black, #232323);
  font-family: Gilroy;
  font-size: 0.875em;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 1.05rem */
  letter-spacing: -0.0175em;

  padding: 0.625rem 1.25rem 0.4375rem 1.25rem;
  border-radius: 4.375rem;
  border: 1px solid var(--black, #232323);
  background: var(--light-blue, #dceaf6);
}

.link-btn {
  display: block;
}

.btn-text-wrapper {
  padding: 1.44rem 1.875rem;
  border-radius: 8.75rem;
  background: var(--pink, #ff7fae);
}

.btn-text {
  color: var(--white, #f7fcff);
  text-align: center;
  font-family: Gilroy;
  font-size: 0.9375em;
  font-style: normal;
  font-weight: 600;
  line-height: 110%; /* 1.03125rem */
  letter-spacing: -0.02813em;

  max-width: 16.25rem;
  margin: 0 auto;
}

.btn-arrow-box {
  display: none;
}

@media screen and (min-width: 768px) {
  .tariffs {
    padding: 11.25rem 0;
  }

  .tariff-flower {
    position: absolute;
    right: 0;
    top: -25rem;

    width: 26.31rem;
  }

  .tariffs .title {
    font-size: 6em;
    text-align: center;
    letter-spacing: -0.06em;
    margin-bottom: 0;
  }

  .tariffs-list {
    margin-top: -2rem;

    display: flex;
    align-items: end;
    flex-direction: row;
    gap: 1.25rem;

    position: relative;
    z-index: 5;
  }

  .tariffs .tariffs-item {
    display: flex;
    flex-direction: column;
    gap: 0.63rem;
    max-width: 28.125rem;
  }

  .tariffs .tariff-title-box {
    height: 20rem;
    padding: 2.19rem 1.25rem;
    border-radius: 1.25rem;
  }

  .tariffs .tariff-title {
    font-size: 3.75em;

    letter-spacing: -0.0375em;
  }

  .tariffs .tariff-tag {
    font-size: 1.125em;
    letter-spacing: -0.0225em;

    padding: 0.81rem 1.25rem 0.62rem;
    width: 19rem;
  }

  .tariffs .tariffs-item:first-child .tariff-tag {
    width: 22rem;
  }

  .tariffs .tariffs-item:last-child .tariff-tag {
    width: 25rem;
  }

  .tariffs .tariff-group {
    font-size: 1.25em;
    letter-spacing: -0.025em;
  }

  .tariffs .modules-count {
    font-size: 1.25em;

    letter-spacing: -0.025em;
  }

  /* tariff bonus box */

  .tariffs .bonus-box {
    padding: 2.5rem 1.88rem;
    border-radius: 0.9375rem;
  }

  .tariffs .bonus-list {
    gap: 1.25rem;
  }

  .tariffs .bonus-item {
    font-size: 1.125em;

    letter-spacing: -0.0225em;
  }

  .tariffs .gift-box {
    margin-top: 1.25rem;
  }

  .tariffs .gift-text {
    font-size: 1.125em;
    letter-spacing: -0.0225em;

    width: 20.625rem;
  }

  /* exclusive tariff */

  .exclusive .tariff-title-box {
    height: 26.875rem;
  }

  .exclusive .tariff-excl-text {
    font-size: 1.125em;

    letter-spacing: -0.0225em;
  }

  .exclusive .modules-count {
    font-size: 1.25em;

    letter-spacing: -0.025rem;
  }

  .exclusive .tariff-individual-text {
    font-size: 1.125em;

    letter-spacing: -0.045em;
  }

  .exclusive .world-wide-tag {
    position: absolute;
    left: 50%;
    top: -1.3rem;
    width: 14.2rem;
    transform: translate(-50%);

    display: inline-block;

    color: var(--black, #232323);
    font-family: Gilroy;
    font-size: 1.125em;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 1.05rem */
    letter-spacing: -0.0225em;

    padding: 0.625rem 1.25rem 0.4375rem 1.25rem;
    border-radius: 4.375rem;
    border: 1px solid var(--black, #232323);
    background: var(--light-blue, #dceaf6);
  }

  .link-btn {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 65rem;
    margin: 0 auto;
    gap: 0.63rem;
  }

  .btn-text-wrapper {
    display: flex;
    align-items: center;
    height: 7.5rem;
    width: 56.876rem;
    padding: 1.44rem 1.875rem;
    border-radius: 8.75rem;
    background: var(--pink, #ff7fae);
  }

  .btn-text {
    font-size: 1.75em;
    letter-spacing: -0.0525em;

    max-width: unset;
    margin: 0 auto;
  }

  .btn-arrow-box {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 7.5rem;
    height: 7.5rem;

    border-radius: 7.5rem;
    background: var(--blue, #5e81a3);
  }

  .btn-arrow-icon {
    width: 3.75406rem;
    height: 3.55113rem;
  }
}

/* before after  */

.before-after {
  position: relative;
  padding-bottom: 3.75rem;
}

.before-after .container {
  position: relative;
}

.before-after .ba-bg-img {
  width: 100%;
  height: 13.75rem;
  object-fit: cover;

  margin-bottom: 3.5rem;
}

.ba-flower-img {
  position: absolute;
  right: 0;
  bottom: 29.5rem;
  width: 10rem;
  z-index: 5;
}

.before-after .ba-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.before-after .before-box {
}

.before-after .ba-title {
  color: var(--black, #232323);
  text-align: center;
  font-family: 'Cormorant Garamond';
  font-size: 3.125em;
  font-style: normal;
  font-weight: 500;
  line-height: 80%; /* 2.5rem */
  letter-spacing: -0.03125em;
  text-transform: uppercase;

  margin-bottom: 2rem;
}

.before-after .ba-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.before-after .ba-item {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;

  border-radius: 0.625rem;
  background: var(--light-pink, #f9ebf4);
  padding: 1.5rem 1.4375rem;
  height: 8.75rem;
}

.before-after .ba-number {
  color: var(--pink, #ff7fae);
  font-family: Gilroy;
  font-size: 1em;
  font-style: normal;
  font-weight: 500;
  line-height: 110%; /* 1.1rem */
  letter-spacing: -0.03em;
}

.before-after .ba-text {
  color: var(--black, #232323);
  font-family: Gilroy;
  font-size: 1em;
  font-style: normal;
  font-weight: 600;
  line-height: 110%; /* 1.1rem */
  letter-spacing: -0.03em;

  max-width: 18rem;
}

.before-after .ba-arrow {
  width: 4rem;
  height: 3.75rem;
  margin: 0 auto;
  transform: rotateZ(-90deg);
}

@media screen and (min-width: 768px) {
  .before-after {
    padding-bottom: 7.5rem;
  }

  .before-after .ba-bg-img {
    width: 100%;
    height: 31.25rem;

    margin-bottom: 6.25rem;
  }

  .ba-flower-img {
    position: absolute;
    right: 0;
    bottom: 26rem;
    width: 18rem;
    z-index: 5;
  }

  .before-after .ba-title {
    font-size: 6rem;

    letter-spacing: -0.06rem;

    margin-bottom: 3.12rem;
  }

  .before-after .ba-wrapper {
    display: flex;
    flex-direction: unset;
    align-items: center;
    gap: 2.5rem;
  }

  .before-after .ba-list {
    display: flex;
    flex-direction: unset;
    flex-wrap: wrap;
    gap: 1.25rem;
    max-width: 51.25rem;
  }

  .before-after .ba-item {
    border-radius: 0.625rem;
    background: var(--light-pink, #f9ebf4);
    padding: 1.88rem;
    height: 17.5rem;
    width: 25rem;
  }

  .before-after .ba-number {
    font-size: 1.75em;

    letter-spacing: -0.0525em;
  }

  .before-after .ba-text {
    font-size: 1.75em;

    letter-spacing: -0.0525em;

    max-width: 20rem;
  }

  .before-after .ba-arrow {
    width: 6.5625rem;
    height: 6.25rem;
    margin: 8rem auto 0;
    transform: rotateZ(180deg);
  }
}

/* after */

.before-box.after .ba-item {
  background: var(--pink, #ff7fae);
}
.before-box.after .ba-number {
  color: var(--light-pink, #f9ebf4);
}
.before-box.after .ba-text {
  color: var(--light-pink, #f9ebf4);
}

/* cases */

.cases {
  padding: 3.75rem 0;
  overflow: hidden;
}

.cases .container {
}

.cases .title {
  color: var(--black, #232323);
  text-align: center;
  font-family: 'Cormorant Garamond';
  font-size: 3.5em;
  font-style: normal;
  font-weight: 500;
  line-height: 80%; /* 2.8rem */
  letter-spacing: -0.035em;
  text-transform: uppercase;

  margin-bottom: 2rem;
}

.cases .cases-swiper-wrap {
  position: relative;
  padding-bottom: 4.4rem;
}

.cases .swiper {
  overflow: visible;
}

.cases .cases-swiper {
}

.cases .swiper-wrapper {
}

.cases .swiper-slide {
  cursor: pointer;
  width: 22.5rem;
  height: 28.75rem;
}

.cases .review-img {
  width: 22.5rem;
  height: 28.75rem;
}

.cases-button-prev,
.cases-button-next {
  position: absolute;
  width: 2.5rem;
  height: 2.375rem;
  background-image: url(../img/swiper-arrow-blue.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  cursor: pointer;
}

.cases-button-prev {
  bottom: 0;
  left: 6.88rem;
}

.cases-button-next.next {
  bottom: 0;
  right: 6.88rem;
  transform: rotateY(180deg);
}

@media screen and (min-width: 768px) {
  .cases {
    padding: 7.5rem 0;
  }

  .cases .title {
    font-size: 6em;

    letter-spacing: -0.06em;

    margin-bottom: 3.12rem;
  }

  .cases .cases-swiper-wrap {
    position: relative;
    padding-bottom: 7.4rem;
  }

  .cases .swiper-slide {
    cursor: pointer;
    width: 28.125rem;
    height: 37.5rem;
  }

  .cases .review-img {
    width: 28.125rem;
    height: 37.5rem;
  }

  .cases-button-prev,
  .cases-button-next {
    position: absolute;
    width: 4.625rem;
    height: 4.375rem;
    background-image: url(../img/swiper-arrow-blue.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    cursor: pointer;
  }

  .cases-button-prev {
    bottom: 0;
    left: 48rem;
  }

  .cases-button-next.next {
    bottom: 0;
    right: 48rem;
    transform: rotateY(180deg);
  }
}

/* questions */

.faq {
  padding: 3.75rem 0;
}

.faq .title {
  color: var(--black, #232323);
  text-align: center;
  font-family: 'Cormorant Garamond';
  font-size: 3.5em;
  font-style: normal;
  font-weight: 500;
  line-height: 80%; /* 44.8px */
  letter-spacing: -0.035rem;
  text-transform: uppercase;

  margin-bottom: 2rem;
}

.faq .title span {
  color: var(--pink, #ff7fae);
}

/* questions */

.questions-container {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
}

.questions-list {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
}

.questions-item-svg {
  display: flex;
  align-items: center;
  width: 1.125rem;
  height: 1.125rem;

  flex-shrink: 0;
  background-image: url('../img/faq-plus.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  transform: rotate(0deg);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.questions-item.active .questions-item-svg {
  transform: rotate(45deg);
}

.questions-list .questions-item .questions-answer-container {
  display: grid;
  grid-template-rows: 0fr;
  overflow: hidden;
  transition: grid-template-rows 250ms cubic-bezier(0.4, 0, 0.2, 1);

  padding: 0 1.25rem;
}

.questions-wrapper {
  min-height: 0;
}

.questions-list .questions-item.open .questions-answer-container {
  grid-template-rows: 1fr;
}

/*  */

.questions-item {
  cursor: pointer;
}

.questions-title-container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 1.25rem;
  height: 6.25rem;
  border-radius: 0.625rem;
  border: 1px solid var(--black, #232323);
  background: var(--white, #f7fcff);
}

.questions-item-title {
  color: var(--black, #232323);
  font-family: Gilroy;
  font-size: 1em;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 1.2rem */
  letter-spacing: -0.02rem;
  text-transform: uppercase;

  max-width: 17.4rem;
}

.questions-answer {
  padding-top: 1.25rem;
  padding-bottom: 2.25rem;

  color: #090909;
  font-family: 'Futura PT';
  font-size: 1em;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 16px */

  max-width: 18.75rem;
}

@media screen and (min-width: 768px) {
  .faq {
    padding: 7.5rem 0;
  }

  .faq .title {
    font-size: 6em;

    letter-spacing: -0.06rem;

    max-width: 54rem;
    margin: 0 auto 3.13rem;
  }

  .questions-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1.25rem;
  }

  .questions-list {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
  }

  .questions-item-svg {
    width: 1.75rem;
    height: 1.75rem;
  }

  .questions-item {
    cursor: pointer;

    width: 52.5rem;
  }

  .questions-title-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 2.5rem;
    height: 8.75rem;
    border-radius: 1.25rem;
    border: 1px solid var(--black, #232323);
    background: var(--white, #f7fcff);
  }

  .questions-item-title {
    font-size: 1.5em;

    letter-spacing: -0.03rem;

    max-width: 42.5rem;
  }

  .questions-answer {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;

    color: var(--black, #232323);
    font-family: Gilroy;
    font-size: 1.5em;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 16px */

    max-width: 40rem;
  }

  .questions-list .questions-item .questions-answer-container {
    padding: 0 2.5rem;
  }
}

/* footer */

.footer {
  padding-top: 3.75rem;
  padding-bottom: 2.5rem;
}

.footer .container {
  position: relative;
}

.footer .logos-box {
  display: flex;
  align-items: start;
  justify-content: space-between;
  margin-bottom: 4.25rem;
}

.footer .feel-logo {
  width: 6.3125rem;
  height: 6.5625rem;
  mix-blend-mode: difference;
}

.footer .academy-logo {
  width: 4.0625rem;
  height: 4.5625rem;
}

.footer .media-rules-box {
}

.footer .media-list {
  display: flex;
  align-items: center;
  gap: 2.5rem;

  margin-bottom: 1.25rem;
}

.footer .media-item {
}

.footer .media-link {
}

.footer .media-icon {
  width: 2.25rem;
  height: 2.25rem;
}

.footer .rules-list {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.footer .rules-item {
  color: #a7a7a7;
  font-family: Gilroy;
  font-size: 0.875em;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 1.05rem */
  text-transform: uppercase;
}

.footer .rules-link {
  color: #3b3a40;
}

.footer .creator-link {
  position: absolute;
  right: 1.31rem;
  bottom: 0;

  display: block;
  color: var(--blue, #5e81a3);
  text-align: right;
  font-family: Gilroy;
  font-size: 0.875em;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 1.05rem */
  text-transform: uppercase;

  max-width: 9.5em;
}

.footer .creator-link span {
  text-decoration: underline;
}

@media screen and (min-width: 768px) {
  .footer {
    padding-top: 7.5rem;
    padding-bottom: 5rem;

    max-width: 100rem;
    margin: 0 auto;
  }

  .footer .logos-box {
    margin-bottom: 3.75rem;
  }

  .footer .feel-logo {
    width: 8.625rem;
    height: 9rem;
    mix-blend-mode: difference;
  }

  .footer .academy-logo {
    width: 5.5rem;
    height: 6.1875rem;
  }

  .footer .media-rules-box {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: start;
  }

  .footer .media-list {
    display: flex;
    align-items: center;
    gap: 2.5rem;

    margin-bottom: 0;
  }

  .footer .media-icon {
    width: 2.5rem;
    height: 2.5rem;
  }

  .footer .rules-list {
    display: flex;
    flex-direction: column;
    gap: 1.87rem;
  }

  .footer .rules-item {
    font-size: 1.25em;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 1.05rem */
    text-transform: uppercase;
  }

  .footer .creator-link {
    position: absolute;
    right: 1.88rem;
    bottom: 0;

    display: block;
    font-size: 1.25em;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 1.05rem */
    text-transform: uppercase;

    max-width: 12rem;
  }
}
